:root {
  --primary-color: #2015ea;
  --primary-color-light: #6861f1;
  --secondary-color: #c0dbea;
  --text-dark: #020617;
  --text-light: #8995a7;
  --white: #ffffff;
  --max-width: 1200px;
  --mena-keli:rgba(210, 0, 0, 0.781);
}

.header .logo {
  border: 2px solid var(--mena-keli);
  margin-bottom: 2%;
  width: 40px;
  transition: 0.25s;
}
.header .logo:hover {
  cursor: pointer;
  border: 2px solid var(--mena);
  width: 41px;
}
.header {
  position: fixed;
  top: 0%;
  height: 60px;
  padding: 0 20px;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header div {
  display: flex;
  align-items: center;
}

.header span,
.header p,
.header input,
.header button {
  margin-right: 15px;
}

.header p {
  margin: 0;
}
.dropdown {
  color: var(--text-dark);
}
.dropdown:hover {
  color: var(--primary-color);
}
.inputRecherche {
  position: relative;
}
.searchIcon {
  display: block;
  cursor: pointer;
}
.searchIcon:hover {
  color: var(--primary-color);
}
.profile-pic {
  cursor: pointer;
}
.user-box {
  margin-left: 2%;
  width: 90%;
}
.u-img img {
  width: 80%;
}
.u-text {
  display: flex;
  flex-direction: column;
}
.dropdown-item {
  background-color: transparent;
  cursor: pointer;
}
.dropdown-item span,
.dropdown-item p {
  font-weight: normal;
  background-color: transparent;
}

.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-item:hover p,
.dropdown-item:hover span {
  background-color: transparent;
  /* font-weight: bold; */
  color: var(--primary-color);
}
