
.cardTrofel .card-underlay, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  .cardTrofel .card-overlay {
    position: relative;
    top: 100%;
    opacity: 0;
    width: 0%;
    height: 0%;
    left: 0;
    background-color: var(--secondary-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px;
    transition: top 0.7s, opacity 0.7s;
    z-index: 1;
    opacity: 0.8;
  }
  .cardTrofel:hover .card-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .cardTrofel:hover .card-content { 
    opacity: 1;
    background-color: var(--secondary-color);
  }

  .cardTrofel:hover .card-underlay {
    /* Mampisy bugs  */
    /* position: absolute;
    z-index: 1; 
    opacity: 1;*/
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  .co-top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .co-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .co-t-maso,
  .co-b-right,
  .co-b-left {
    width: 100%;
    height: 100%;
    padding: 2% 0%;
  }
  .co-t-maso {
    background-color: var(--maintso);
    transition: color 0.5s, background-color 0.5s;
  }
  .co-b-left {
    background-color: var(--primary-color);
    transition: color 0.5s, background-color 0.5s;
  }
  .co-b-right {
    background-color: var(--mena);
    transition: color 0.5s, background-color 0.5s;
  }
  .co-t-maso:hover {
    background-color: var(--white);
    color: var(--maintso);
  }
  .co-b-left:hover {
    background-color: var(--white);
    color: var(--primary-color);
  }
  .co-b-right:hover {
    background-color: var(--white);
    color: var(--mena);
  }
  .maso {
    width: 100%;
    font-size: 1.6rem;
  }
  .ovao,
  .fafao {
    width: 100%;
    font-size: 1.2rem;
  }
  